.profile__title-container{
    display: flex;
    align-items: baseline;
}

@media (max-width: 780px){
    .profile__title-container{
        justify-content: center;
        padding-top: 22px;
        position: relative;
    }
}