.element__like{
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.element__like:hover{
    opacity: 70%;
    transition: 0.2s ease;
}

.element__like:active{
    background-image: url(../../../images/like-black.svg);
}