.header {
    max-width: 880px;
    height: 74px;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    border-bottom: 1px solid #545454;
}

@media (max-width: 1024px){
    .header{
        width: calc(100% - 100px);
    }
}
@media (max-width: 768px){
    .header{
        width: 100%;
        height: 56px;
        padding-top: 28px;
    }
}