.header {
    max-width: 880px;
    padding-top: 45px;
    padding-bottom: 41px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

@media (max-width: 1024px){
    .header{
        width: calc(100% - 100px);
    }
}
@media (max-width: 768px){
    .header{
        width: 100%;
        padding-top: 28px;
        padding-bottom: 31.6px;
    }
}