.pop-up__form{   
    width: calc(100% - 72px);
    padding: 0px;
    margin: 0px;
    margin-top: 52px;
    margin-bottom: 37px;    
    outline: 0;

    
}

@media (max-width: 768px){
    .pop-up__form{
        width: calc(100% - 44px);
        margin-top: 75px;
        margin-bottom: 25px;
    }
}