.pop-up__title-zoom{
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    margin: 0;
    padding-top: 10px;
}